name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - name: Reset ci-tests branch
        run: |
          git remote set-url origin https://${{ github.actor }}:${{ secrets.TEST_GH_TOKEN }}@github.com/${{ github.repository }}.git
          ./scripts/reset-ci-tests.sh
      - name: Test workspace
        run: cargo test --workspace
        env:
          GH_TOKEN: ${{ secrets.TEST_GH_TOKEN }}
