name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Reset ci-tests branch
        run: ./scripts/reset-ci-tests.sh
      - name: Test workspace
        run: cargo test --workspace
        env:
          GH_TOKEN: ${{ secrets.TEST_GH_TOKEN }}
